body {
    font-family: poppins;
    background-color: rgb(244, 191, 239);
    box-sizing: border-box; 
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #923363;
    height: 4rem;
    margin-bottom: 4rem;
}

.img-logo {
    width: 12%;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
}

.links {
    text-decoration: none;
    padding: 0rem 0.5rem;
}

a {
    text-decoration: none;
    color:  rgb(244, 191, 239);
    font-size: small;
}

.menu {
    list-style-type: none;
}

.greetings {
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 50%;
    height: max-content;
    border: 2px #f7e4f5 solid;
    background-color: #f7e4f5;
    padding: 40px;
    justify-self: center;
    box-shadow: 1px 10px 20px 10px #923363;
}
.input-form {
    display: flex;
    flex-direction: column;
}

#name {
    width: 50%;
}

#email {
    width: 50%;
}

#message {
    width: 50%;
}

.btn {
    width: 20%;
    margin-top: 8px;
}

.footer {
    display: flex;
    margin-top: 4rem;
    width: 100%;
    background-color: #923363;
    height: 4rem;
    color:  rgb(244, 191, 239);
    place-items: center;
    justify-content: center;
    font-size: x-small;
}

